

{% extends "teams/base.html" %}
{% block title %}Invites{% endblock %}
{% block content %}

<h2 class="text-3xl text-center font-semibold text-gray-800 mb-8">Team Invites</h2> <!-- Centered page title -->
    {% if invites %}
    <ul class="max-w-md mx-auto bg-white shadow-lg rounded-lg p-6"> <!-- Centered list container with padding and shadow -->
        <table>
            <li class="flex justify-between items-center border-b py-4"> <!-- Flexbox for aligning text and button, with bottom border and padding -->
                <p class="font-bold"> Team Name </p>
                <p class="font-bold"> Sent By </p>
                <p class="font-bold"> Accept? </p>
                <p class="font-bold"> Decline? </p> 
            </li>
            {% for invite in invites %}
                <li class="flex justify-between items-center border-b py-4"> <!-- Flexbox for aligning text and button, with bottom border and padding -->
                    <p> {{invite.team.name}} </p>
                    <p> {{invite.sender.username}} </p>
                    <a href="{% url 'teams:accept-invite' invite.id %}" class="text-green-500 hover:underline">Accept</a> 
                    <a href="{% url 'teams:decline-invite' invite.id %}" class="text-red-500 hover:underline">Decline</a> 

                </li>
            {% endfor %}
        </table>
    {% else %}
    <p class="text-center text-gray-500">No Team Invites.</p> <!-- Centered message with gray text -->
    {% endif %}
{% endblock %}
