

{% extends "teams/base.html" %}
{% block title %}Invites{% endblock %}
{% block content %}

<h2 class="text-3xl text-center font-semibold text-gray-800 mb-8">Team Invites</h2> <!-- Centered page title -->
    {% if invites %}
    <div class="overflow-x-auto">  <!-- Centered list container with padding and shadow -->
        <table class="min-w-half content-center table-auto border-collapse" style="margin:0 auto;">
            <thead class="bg-gray-100 border-b-2 border-gray-200"> <!-- Flexbox for aligning text and button, with bottom border and padding -->
                <tr>               
                    <th class="font-bold text-left px-6 py-3"> Team Name </th>
                    <th class="font-bold text-left px-6 py-3"> Sent By </th>
                    <th class="font-bold text-left px-6 py-3"> Accept? </th>
                    <th class="font-bold text-left px-6 py-3">Decline? </th> 
                </tr>
            </thead>
            {% for invite in invites %}
                </tbody>
                    <tr class="bg-white border-b border-gray-200">
                        <td class="px-6 py-4">
                            {{invite.team.name}} 
                        </td>
                        <td class="px-6 py-4"> 
                            {{invite.sender.username}} 
                        </td>
                        <td class="px-6 py-4">
                            <a href="{% url 'teams:accept-invite' invite.id %}" class="text-green-500 hover:underline">Accept</a> 
                        </td>
                        <td class="px-6 py-4">
                            <a href="{% url 'teams:decline-invite' invite.id %}" class="text-red-500 hover:underline">Decline</a> 
                        </td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
    {% else %}
    <p class="text-center text-gray-500">No Team Invites.</p> <!-- Centered message with gray text -->
    {% endif %}
{% endblock %}
