{% extends "todo/base.html" %}
{% block title %} Edit Todo Item {% endblock %}

{% block content %}
<h2>Edit Todo Item</h2>
    
    {% if td_item %}
        <h2>{{td_item.title}}</h2>
        <form accept="" method="POST">
            <button onclick=ChangesSaved() name ="Submit" type ="submit" value="Submit">Save Changes</button>
            {% csrf_token %}
            {{ todo_form }}
            <script>
                function ChangesSaved(){
                    alert("Your Todo Item Has Been Updated!");
                }
            </script>
        </form>
    {% else %}
    Todo Item does not exist
    {% endif %}

{% endblock%}