{% extends "user_profile/base.html" %}
{% block title %} Profile {% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="{% url 'todo:todo_list' %}">View Todo List</a>
            <a href="{% url 'user_profile:profile' %}">Profile</a>
            <a href="{% url 'user_profile:logout' %}">Logout</a>
        </nav>
    </header>
    {% if updated %}
        <p>Password Successfully Updated</p>
    {% else %}
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit">Save changes</button>
        </form>
    {% endif %}
{% endblock %}