{% extends "todo/base.html" %}
{% block title %}Todo Items{% endblock %}
{% block content %}
    <h2 style="text-align:center;font-size:30px;color:rgb(29, 44, 122)">Todo Items</h2>
    <table>
        <tr>
            <th>Title</th>
            <th>
                <form id="category-filter-form" method="GET">
                    <label for="filter-by-category">Category</label>
                    <select name="filter-by-category"
                            id="filter-by-category"
                            onchange="this.form.submit()">
                        <option value="" selected disabled>Select A Category</option>
                        {% for category in categories %}<option value="{{ category.name }}">{{ category.name }}</option>{% endfor %}
                        <option value="">Show all</option>
                    </select>
                </form>
            </th>
            <th>Description</th>
            <th>
                <a href="{% querystring order_by="due_date" %}">Due Date</a>
            </th>
            <th>Start</th>
            <th>Stop</th>
            <th>Time Spent</th>
            <th>Status</th>
            <th>Progress</th>
            <th>
                <a href="{% querystring order_by="priority" %}">Priority</a>
            </th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Archive</th>
        </tr>
        {% if todo_items %}
            {% for td in todo_items %}
                <tr>
                    {% if not td.is_archived %}
                        {% if td.is_completed %}
                            <td bgcolor = #8ACE00>{{ td.title }}</td>
                            <td bgcolor = #8ACE00>{{ td.category.name|default:"" }}</td>
                            <td bgcolor = #8ACE00>{{ td.description }}</td>
                            <td bgcolor = #8ACE00>{{ td.due_date }}</td>
                            <td bgcolor = #8ACE00></td>
                            <td bgcolor = #8ACE00></td>
                            <td bgcolor = #8ACE00>{{ td.total_time_spent }}</td>
                            <td bgcolor = #8ACE00>Complete</td>
                            <td bgcolor = #8ACE00></td>
                            <td bgcolor = #8ACE00>{{ td.get_priority_display|default:"" }}</td>
                            <td bgcolor = #8ACE00>
                                <a href="{% url 'todo:edit_todo_item' td.id %}">Edit</a>
                            </td>
                            <td bgcolor = #8ACE00>
                                <a href="{% url 'todo:delete_confirmation' td.id %}">Delete</a>
                            </td>
                            <td bgcolor = #8ACE00>
                                <a href="{% url 'todo:archive' td.id %}">Archive</a>
                            </td>
                        {% else %}
                            <td>{{ td.title }}</td>
                            <td>{{ td.category.name|default:"" }}</td>
                            <td>{{ td.description }}</td>
                            <td>{{ td.due_date }}</td>
                            {% if td.timer_started %}
                                <td>Timer Running</td>
                            {% else %}
                                <td>
                                    <a href="{% url 'todo:start_todo_item' td.id %}">Start</a>
                                </td>
                            {% endif %}
                            <td>
                                <a href="{% url 'todo:stop_todo_item' td.id %}">Stop</a>
                            </td>
                            <td>{{ td.total_time_spent }}</td>
                            <td>
                                <a href="{% url 'todo:mark_completed' td.id %}">Mark Complete</a>
                            </td>
                            <td>{{ td.progress|floatformat:"0" }}%</td>
                            <td>{{ td.get_priority_display|default:"" }}</td>
                            <td>
                                <a href="{% url 'todo:edit_todo_item' td.id %}">Edit</a>
                            </td>
                            <td>
                                <a href="{% url 'todo:delete_confirmation' td.id %}">Delete</a>
                            </td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No todo items</p>
    {% endif %}
{% endblock %}
