{% extends "todo/base.html" %}
{% block title %} Todo Items {% endblock %}

{% block content %}
    <h2 style="text-align:center;font-size:30px;color:rgb(29, 44, 122)">Todo Items</h2>
    {% if todo_items %}
        <table>
            <tr>
                <th>Title</th>
                <th>
                    <form id="category-filter-form" action="" method="GET">
                        <label for="filter-by-category">Category</label>
                        <select name="filter-by-category" id="filter-by-category">
                            <option value="">...</option>
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Submit</button>
                    </form>
                </th>
                <th>Description</th>
                <th><a href="?order_by=due_date">Due Date</a></th>
                <th>Status</th>
                <th><a href="?order_by=priority_order">Priority</a></th>
            </tr>
            {% for td in todo_items %}
                <tr>
                    {% if not td.is_archived %}
                        {% if td.is_completed %}
                            <td bgcolor = #8ACE00>{{ td.title }}</td>
                            <td bgcolor = #8ACE00>{{ td.category.name|default:"" }}</td>
                            <td bgcolor = #8ACE00>{{ td.description }}</td>
                            <td bgcolor = #8ACE00>{{ td.due_date }}</td>
                            <td bgcolor = #8ACE00> Completed </td>
                            <td bgcolor = #8ACE00>{{ td.get_priority_display|default:"" }}</td>
                            <td bgcolor = #8ACE00><a href="{% url 'todo:edit_todo_item' td.id %}">Edit</a></td>
                            <td bgcolor = #8ACE00><a href="{% url 'todo:delete_confirmation' td.id %}">Delete</a></td>
                            <td bgcolor = #8ACE00><a href="{% url 'todo:archive' td.id %}">Archive</a></td>
                        {% else %}
                            <td>{{ td.title }}</td>
                            <td>{{ td.category.name|default:"" }}</td>
                            <td>{{ td.description }}</td>
                            <td>{{ td.due_date }}</td>
                            <td><a href="{% url 'todo:mark_completed' td.id %}">Mark Complete</a></td>
                            <td>{{ td.get_priority_display|default:"" }}</td>
                            <td><a href="{% url 'todo:edit_todo_item' td.id %}">Edit</a></td>
                            <td><a href="{% url 'todo:delete_confirmation' td.id %}">Delete</a></td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <p>No todo items</p>
    {% endif %}
{% endblock %}
